<!-- <div class="row mt-2 p-2 bg-secondary text-white">
    <h2 class="text-center">Life Cycle Events</h2>
    <p>In Angular, lifecycle events are special methods that allow developers to tap into key moments in a component's or directive's lifecycle. <br> Such as, initialization, change detection, and destruction</p>
     <div class="row p-3">
        <div class="col-3 m-1 text-center">
            <h3>Constructor</h3>
            <p>Used for variable initialisation. Not used for api calls</p>
        </div>
        <div class="col-3 m-1 text-center">
            <h3>ngOnChanges</h3>
            <p>Used when components are reused</p>
        </div>
        <div class="col-3 m-1 text-center">
            <h3>ngOnInit</h3>
            <p>Used for API calls, and tasks upon component initialised</p>
        </div>
        <div class="col-3 m-1 text-center">
            <h3>ngDoCheck</h3>
        </div>
     </div>
     <div class="row mt-2">
        <div class="col-3  text-center">
            <h3>ngAfterContentInit</h3>
        </div>
        <div class="col-3 ms-3 text-center">
            <h3>ngAfterContentChecked</h3>
        </div>
     </div>

     <div class="row m-2 bg-primary">
        <div class="col-3 m-1 text-center">
            <h3>ngAfterViewInit</h3>
        </div>
        <div class="col-3 m-1 text-center">
            <h3>ngAfterViewChecked</h3>
        </div>
        <div class="col-3 m-1 text-center">
            <h3>ngOnDestroy</h3>
            <p>Triggered when the component is about to destroy.Used for unsubscribing the API after it is used</p>
        </div>
     </div>
</div> -->

<app-lifecycledetail></app-lifecycledetail>