<h6>Content Projection in Angular refers to the process of projecting
     or inserting content from a parent component into a designated area 
     within a child component's template.</h6>

<div class="row bg-warning pb-4">
    <div class="col-sm-4">
        <app-reusablecomponent>
            <h2 class="card-title">Welcome to Cricbuzz</h2>
            <a href="#" class="btn btn-primary">Cricbuzz</a>
        </app-reusablecomponent>
    </div>
    <div class="col-sm-4">
        <app-reusablecomponent>
            <h2 class="card-title">Welcome to Instagram</h2>
            <a href="#" class="btn btn-primary">Instagram</a>
        </app-reusablecomponent>
    </div>
    <div class="col-sm-4">
        <app-reusablecomponent>
            <h2 class="card-title">Welcome to Blackbox</h2>
            <a href="#" class="btn btn-primary">Blackbox AI</a>
        </app-reusablecomponent>
    </div>
</div>
