<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Control Flow Statement</h1>
    <p><span>&#64;</span>for</p>
</div>
<div class="row pt-3">
    <div class="col-3 bg-success">
        <h3>in ul and li</h3>
        <ul>
            @for(city of cityArray; track $index){
                <li class="p-2">
                    {{city}}
                </li>
            }  
        </ul>
    </div>
    <div class="col-3 ms-2 bg-secondary">
        <h3>in DIV</h3>
        <ul>
            @for(city of cityArray; track $index){
                <div class="p-2">
                    {{city}}
                </div>
            }  
        </ul>
    </div>
    <div class="col-3 bg-light ms-2">
        <h3>In dropdown (most used)</h3>
        <select name="" id="">
            @for(city of cityArray; track $index){
            <option>{{city}}</option>
            }
        </select>
    </div>
    <div class="col-2 bg-primary">
        <h3>dropdown value is bind and show name</h3>
        <select name="" id="">
            @for (stud of studentList; track $index) {
            <option value="{{stud.studId}}">{{stud.name}}</option>
            }
        </select>
    </div>
</div>
<div class="row pt-5 m-2">
    <div class="col-12">
        <h3><span>&#64;</span>for is mostly used in showing the table, this is the main concept to learn </h3>
        <table class="table table-borderless table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Sr. No.</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for(student of studentList;track $index){
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{student.studId}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.city}}</td>
                        <!-- <td>{{student.isActive}}</td> -->
                         <td>
                            <span *ngIf="student.isActive">active</span>
                            <span *ngIf="!student.isActive">deActive</span>
                         </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>